{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container" style="margin-top: 50px;">
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-8">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"> About me</h5>
        <p class="card-text">My name is hanieh mahdiabadi. I want to be backend Developer.Please Check my project in Githup </p>
      </div>
      <div class="card-body">
        <a href="https://github.com/hanieh-mav" target="_blank" class="card-link">My Githup</a>
        
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
  
</div>
{% endblock %}